.footer__main {
  display: flex;
  position: sticky;
  bottom: 0;
  z-index: 2;
  color: black;
  /* background-color: orange; */
}

.footer__main--nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
  /* background-color: magenta; */
  color: black;
  border: none;
  height: 100%;
}

/*.block__element--modifier {} */

.footer__link {
  display: inline-flex;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* background-color: goldenrod; */
}

.footer__link:hover {
  background-color: greenyellow;
  color: aliceblue;
}

.footer__link.active {
  background-color: skyblue;
  color: aliceblue;
}

.link__icon {
  fill: red;
}

.link__icon--small {
  height: 24px;
  width: 24px;
}

.link__icon--medium {
  height: 40px;
  width: 40px;
}

.link__icon--large {
  height: 48px;
  width: 48px;
}

.icon {
  width: 24px;
  height: 24px;
}
