footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 255, 38);
}




.bu--fo {
    border: none;
    background: none;
    cursor: pointer;

}