


.header {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 25px 0;
    background-color: aquamarine;
    position: sticky;
    top: 0;
    z-index: 100;


}

.header--title {

    font-size: 1rem;
    text-decoration: none;

}

