main {

    background-color: yellow;
}

.qc-con {

    margin: 7.5vw;
    padding: 10vw;
    border-radius:5px;

    background-color: rgb(216, 212, 234);

}

.qc-con-bkm {
position:relative;


}

.bu--ma {

    
}