* {
    box-sizing: border-box;
}


main {

    background-color: yellow;

}

.qc-con {

    margin: 40px 40px 20px 40px;
    padding: 0px 30px 30px 30px;
    border-radius: 20px;

    background-color: rgb(216, 212, 234);

}

.qc-con-bkm {
    background-color: blueviolet;
    fill: white;


}



.bu--ma {

    margin-top: 50px;
    display: flex;
    justify-content: center;

}


.bu--ma--qc {

    width: 200px;
    height: 50px;
    border: solid 1px;
    border-radius: 10px;

}

.tag {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    margin-top: 40px;
    background-color: blue;
}

.tagin {
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
    padding: 10px;
}


.icontest {

    display: flex;
    justify-content: end;
    position: relative;
    top: -10px;
    z-index: 0;
    
}